([
    (
        uid: (7),
        instance: ("efa5e630-3740-11f0-80ab-d3d9640df89e"),
        xyz: (216.0, -328.0, 5.0),
        sprite: Some((
            image: "ldtk/../textures/horror-house.png",
            tileset: (1),
            atlas: Rect((
                min: (0.0, 16.0),
                max: (16.0, 48.0),
            )),
            pivot: (0.5, 0.5),
        )),
        worldly: true,
    ),
    (
        uid: (61),
        instance: ("b7dc2bf0-3740-11f0-80ab-37f528ebba0e"),
        xyz: (272.0, -144.0, 5.0),
        sprite: Some((
            image: "ldtk/../textures/furniture.png",
            tileset: (59),
            atlas: Rect((
                min: (48.0, 304.0),
                max: (80.0, 336.0),
            )),
            pivot: (0.0, 0.0),
        )),
        worldly: false,
    ),
    (
        uid: (62),
        instance: ("143a9080-3740-11f0-80ab-d36c2bbc334e"),
        xyz: (321.0, -117.0, 5.0),
        sprite: Some((
            image: "ldtk/../textures/furniture.png",
            tileset: (59),
            atlas: Rect((
                min: (176.0, 336.0),
                max: (192.0, 368.0),
            )),
            pivot: (0.5, 0.5),
        )),
        worldly: false,
    ),
    (
        uid: (63),
        instance: ("e8788f40-3740-11f0-910e-4b6ba9ec3e93"),
        xyz: (352.0, -144.0, 5.0),
        sprite: Some((
            image: "ldtk/../textures/horror-house.png",
            tileset: (1),
            atlas: Rect((
                min: (208.0, 48.0),
                max: (256.0, 80.0),
            )),
            pivot: (0.0, 0.0),
        )),
        worldly: false,
    ),
    (
        uid: (64),
        instance: ("14087210-3740-11f0-910e-b76f6db3a299"),
        xyz: (377.0, -128.0, 5.0),
        sprite: Some((
            image: "ldtk/../textures/furniture.png",
            tileset: (59),
            atlas: Rect((
                min: (32.0, 208.0),
                max: (48.0, 224.0),
            )),
            pivot: (0.0, 0.0),
        )),
        worldly: false,
    ),
    (
        uid: (64),
        instance: ("15e19ee0-3740-11f0-910e-f7575d2dc8e6"),
        xyz: (361.0, -128.0, 5.0),
        sprite: Some((
            image: "ldtk/../textures/furniture.png",
            tileset: (59),
            atlas: Rect((
                min: (32.0, 208.0),
                max: (48.0, 224.0),
            )),
            pivot: (0.0, 0.0),
        )),
        worldly: false,
    ),
    (
        uid: (65),
        instance: ("291f9d90-3740-11f0-910e-53a08685ee8f"),
        xyz: (362.0, -160.0, 5.0),
        sprite: Some((
            image: "ldtk/../textures/furniture.png",
            tileset: (59),
            atlas: Rect((
                min: (16.0, 208.0),
                max: (32.0, 224.0),
            )),
            pivot: (0.0, 0.0),
        )),
        worldly: false,
    ),
    (
        uid: (65),
        instance: ("3ddd8580-3740-11f0-910e-6d2ecc9c0005"),
        xyz: (377.0, -160.0, 5.0),
        sprite: Some((
            image: "ldtk/../textures/furniture.png",
            tileset: (59),
            atlas: Rect((
                min: (16.0, 208.0),
                max: (32.0, 224.0),
            )),
            pivot: (0.0, 0.0),
        )),
        worldly: false,
    ),
    (
        uid: (67),
        instance: ("37058c70-3740-11f0-910e-85648b9d69d7"),
        xyz: (400.0, -224.0, 5.0),
        sprite: Some((
            image: "ldtk/../textures/furniture.png",
            tileset: (59),
            atlas: Rect((
                min: (160.0, 656.0),
                max: (224.0, 688.0),
            )),
            pivot: (0.0, 0.0),
        )),
        worldly: false,
    ),
    (
        uid: (69),
        instance: ("08b1d940-3740-11f0-910e-93037d8adc01"),
        xyz: (389.0, -240.0, 5.0),
        sprite: Some((
            image: "ldtk/../textures/furniture.png",
            tileset: (59),
            atlas: Rect((
                min: (16.0, 400.0),
                max: (32.0, 432.0),
            )),
            pivot: (0.0, 0.0),
        )),
        worldly: false,
    ),
    (
        uid: (70),
        instance: ("62a8b3b0-3740-11f0-910e-c7a2291cb1ff"),
        xyz: (448.0, -320.0, 5.0),
        sprite: Some((
            image: "ldtk/../textures/furniture.png",
            tileset: (59),
            atlas: Rect((
                min: (128.0, 64.0),
                max: (160.0, 96.0),
            )),
            pivot: (0.0, 0.0),
        )),
        worldly: false,
    ),
    (
        uid: (71),
        instance: ("baa65630-3740-11f0-910e-478a78ced448"),
        xyz: (448.0, -384.0, 5.0),
        sprite: Some((
            image: "ldtk/../textures/furniture.png",
            tileset: (59),
            atlas: Rect((
                min: (48.0, 368.0),
                max: (80.0, 384.0),
            )),
            pivot: (0.0, 0.0),
        )),
        worldly: false,
    ),
    (
        uid: (68),
        instance: ("e4f79e80-3740-11f0-910e-e5cfcf804407"),
        xyz: (494.0, -353.0, 5.0),
        sprite: Some((
            image: "ldtk/../textures/furniture.png",
            tileset: (59),
            atlas: Rect((
                min: (112.0, 192.0),
                max: (128.0, 224.0),
            )),
            pivot: (0.0, 0.0),
        )),
        worldly: false,
    ),
    (
        uid: (73),
        instance: ("645f6ef0-3740-11f0-910e-4174c8de88d9"),
        xyz: (208.0, -256.0, 5.0),
        sprite: Some((
            image: "ldtk/../textures/furniture.png",
            tileset: (59),
            atlas: Rect((
                min: (160.0, 496.0),
                max: (176.0, 528.0),
            )),
            pivot: (0.0, 0.0),
        )),
        worldly: false,
    ),
    (
        uid: (74),
        instance: ("95772eb0-3740-11f0-910e-1b8036add865"),
        xyz: (184.0, -262.0, 5.0),
        sprite: Some((
            image: "ldtk/../textures/furniture.png",
            tileset: (59),
            atlas: Rect((
                min: (176.0, 496.0),
                max: (192.0, 528.0),
            )),
            pivot: (0.0, 0.0),
        )),
        worldly: false,
    ),
    (
        uid: (75),
        instance: ("a34bade0-3740-11f0-910e-cf97d16d170b"),
        xyz: (160.0, -256.0, 5.0),
        sprite: Some((
            image: "ldtk/../textures/furniture.png",
            tileset: (59),
            atlas: Rect((
                min: (192.0, 496.0),
                max: (208.0, 528.0),
            )),
            pivot: (0.0, 0.0),
        )),
        worldly: false,
    ),
    (
        uid: (76),
        instance: ("db91a790-3740-11f0-910e-ab76d5e6610c"),
        xyz: (144.0, -352.0, 5.0),
        sprite: Some((
            image: "ldtk/../textures/furniture.png",
            tileset: (59),
            atlas: Rect((
                min: (208.0, 720.0),
                max: (224.0, 736.0),
            )),
            pivot: (0.0, 0.0),
        )),
        worldly: false,
    ),
    (
        uid: (77),
        instance: ("01638240-3740-11f0-910e-114132ff58dd"),
        xyz: (146.0, -337.0, 5.0),
        sprite: Some((
            image: "ldtk/../textures/furniture.png",
            tileset: (59),
            atlas: Rect((
                min: (16.0, 608.0),
                max: (32.0, 624.0),
            )),
            pivot: (0.0, 0.0),
        )),
        worldly: false,
    ),
    (
        uid: (78),
        instance: ("60aad5f0-3740-11f0-910e-632ee7606258"),
        xyz: (187.0, -301.0, 5.0),
        sprite: Some((
            image: "ldtk/../textures/furniture.png",
            tileset: (59),
            atlas: Rect((
                min: (112.0, 272.0),
                max: (128.0, 288.0),
            )),
            pivot: (0.0, 0.0),
        )),
        worldly: false,
    ),
    (
        uid: (83),
        instance: ("53ba9e70-3740-11f0-b73a-4b2c4975420b"),
        xyz: (518.0, -218.0, 5.0),
        sprite: Some((
            image: "ldtk/../textures/furniture.png",
            tileset: (59),
            atlas: Rect((
                min: (144.0, 768.0),
                max: (160.0, 800.0),
            )),
            pivot: (0.5, 0.5),
        )),
        worldly: false,
    ),
    (
        uid: (84),
        instance: ("6d4d3ff0-3740-11f0-b73a-f36de592b23f"),
        xyz: (186.0, -466.0, 5.0),
        sprite: Some((
            image: "ldtk/../textures/furniture.png",
            tileset: (59),
            atlas: Rect((
                min: (160.0, 768.0),
                max: (176.0, 800.0),
            )),
            pivot: (0.5, 0.5),
        )),
        worldly: false,
    ),
    (
        uid: (84),
        instance: ("c9de9b60-3740-11f0-b73a-ff55836f5020"),
        xyz: (761.0, -591.0, 5.0),
        sprite: Some((
            image: "ldtk/../textures/furniture.png",
            tileset: (59),
            atlas: Rect((
                min: (160.0, 768.0),
                max: (176.0, 800.0),
            )),
            pivot: (0.5, 0.5),
        )),
        worldly: false,
    ),
    (
        uid: (83),
        instance: ("cf5e8910-3740-11f0-b73a-bdf2751749b2"),
        xyz: (1127.0, -591.0, 5.0),
        sprite: Some((
            image: "ldtk/../textures/furniture.png",
            tileset: (59),
            atlas: Rect((
                min: (144.0, 768.0),
                max: (160.0, 800.0),
            )),
            pivot: (0.5, 0.5),
        )),
        worldly: false,
    ),
    (
        uid: (62),
        instance: ("fc7b2660-3740-11f0-b73a-911dcab2d643"),
        xyz: (832.0, -548.0, 5.0),
        sprite: Some((
            image: "ldtk/../textures/furniture.png",
            tileset: (59),
            atlas: Rect((
                min: (176.0, 336.0),
                max: (192.0, 368.0),
            )),
            pivot: (0.5, 0.5),
        )),
        worldly: false,
    ),
    (
        uid: (62),
        instance: ("0906f8f0-3740-11f0-b73a-aff2d8be91f8"),
        xyz: (1040.0, -548.0, 5.0),
        sprite: Some((
            image: "ldtk/../textures/furniture.png",
            tileset: (59),
            atlas: Rect((
                min: (176.0, 336.0),
                max: (192.0, 368.0),
            )),
            pivot: (0.5, 0.5),
        )),
        worldly: false,
    ),
])