(
    io: (
        scene_tiles: {
            (51): "ldtk/51.tiles.ron",
        },
        scene_entities: {
            (51): "ldtk/51.entities.ron",
        },
        composites: {
            ((51), (2)): "ldtk/Level_0_BackgroundComposite_composite.png",
        },
    ),
    levels: [
        (51),
    ],
)